<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Gabriel Nogueira Pacheco e Ricardo Barbosa Júnior">
  <link rel="icon" href="../../static/img/favicon.ico">
  <script src="static/js/scroll.js"></script>
  
  <title>Highway Distribuidora</title>

  <!-- Bootstrap core CSS -->
  <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Custom styles for this template -->
  <link href="sticky-footer-navbar.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel1.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/carousel_texts.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cor.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav_esp.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/part_color.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bkg_img.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/video.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rolling.css') }}">

</head>

<body>

  <header>


      <script>
          $(document).ready(function(){
          // Add smooth scrolling to all links
          $("a").on('click', function(event) {
          
            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
            // Prevent default anchor click behavior
            event.preventDefault();
          
            // Store hash
            var hash = this.hash;
          
            // Using jQuery's animate() method to add smooth page scroll
            // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
            $('html, body').animate({
              scrollTop: $(hash).offset().top
            }, 800, function(){
           
              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
            });
            } // End if
          });
          });
          </script>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: #FFFFFF;">
      <a class="navbar-brand" href="/">

        <img src="../../static/img/logo_letras.svg" width="150" height="50" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">

            <a class="nav-link btn btn-danger " href="/">
              <p2>Home</p2><span class="sr-only">(current)</span>
            </a>

          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-danger" href="/videos">
              <p2>Vídeos</p2>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn btn-danger" href="/contato">
              <p2>Contato</p2>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link btn btn-danger" href="/ninjas">
              <p2>Ninjas</p2>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn btn-danger" href="/cefr">
              <p2>CEFR</p2>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link btn btn-danger" href="/plataformainovacao">
              <p2>Plataforma e Inovação</p2>
            </a>
          </li>


          <li class="nav-item">
              <a class="nav-link btn btn-danger" href="/sublicenciamento">
                <p2>Sublicenciamento</p2>
              </a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Search">
          <button class="btn btn-danger my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
  <footer>
    <span class="text-muted">Highway Distribuidora &copy 2018</span>
    <a href="/login" style="color: grey; padding-left: 1080px;">Login</a>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../static/js/bootstrap.min.js"></script>
  <script src="../../static/js/scroll.js"></script>


</body>

</html>