{% extends 'base.html' %}

{% block content %}

<br>

<center id="pp4">
    <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/CEFR.jpg') }}" alt="Generic placeholder image"
        width="540" height="360">
</center>


<div class="row" id="pp4">
    <div class="col-lg-4" id="pp2">
        <h5>
            <center>
            </center>
        </h5>
    </div>
    <div class="col-lg-4" id="pp2">
        <h5>
            <center>
                Os livros DLL são padronizados com a classificação no
                Quadro Europeu Comum de Referência para as Línguas:
            </center>
        </h5>
    </div>
    <div class="col-lg-4" id="pp2">
        <h5>
        </h5>
    </div>
</div>


<div class="row featurette" id="pp">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Livro 1 Modulo 1 até o Livro 2 módulo 4</h2>
        <p class="lead">

            A1

            Pode entender e utilizar expressões familiares do dia a dia, bem como frases básicas direcionadas a
            satisfazer necessidades concretas. Pode se apresentar e responder perguntas sobre detalhes de sua vida
            pessoal como, por exemplo: onde vive, pessoas que conhece ou coisas que possui. Pode ainda interagir de
            maneira simples com nativos desde que estes falem pausadamente, de maneira clara e que estejam dispostos a
            ajudar.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <center>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/l1.png') }}" alt="Generic placeholder image">
    </center>
    </div>
</div>



<div class="row featurette" id="pp2">

    <div class="col-md-7">

        <h2 class="featurette-heading">Book 2 Modulo 5 até book 3 módulo 7</h2>

        <p class="lead">

            A2

            Pode entender frases e expressões relacionadas a áreas familiares ao usuário, como informações pessoais e
            familiares básicas, compras, geografia local, emprego. Pode se comunicar de maneira simples em situações
            familiares que requerem troca de informações curtas e precisas. Pode descrever de maneira superficial
            aspectos sobre seus conhecimentos, ambiente onde vive e necessidades imediatas.
    </div>
    </section>
    <div class="col-md-5">
        <center>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/l2.png') }}" alt="Generic placeholder image">
    </center>
    </div>

</div>

<div class="row featurette" id="pp3">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Livro 4 módulo 1 até Livro 5 módulo 7</h2>
        <p class="lead">
            B1
            Pode entender os pontos principais sobre assuntos do dia a dia como trabalho, escola e lazer. Pode lidar
            com situações cotidianas no país onde a língua é falada (viagem de turismo). Pode produzir textos simples
            sobre áreas familiares e de interesse. Pode ainda descrever experiências, eventos, sonhos, desejos e
            ambições. Além disso pode ainda opinar de maneira limitada sobre planos e discussões.
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <center>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/l4.png') }}" alt="Generic placeholder image">
    </center>
    </div>
</div>


<div class="row featurette" id="pp5">

    <div class="col-md-7">

        <h2 class="featurette-heading">Livro 6 módulos 1 ao 8</h2>
        <p class="lead">
            B2
            É capaz de entender ideias principais de textos complexos que tratem de temas tanto concretos como
            abstratos, inclusive textos de caráter técnico se forem de sua área de especialização. Pode interagir com
            falantes nativos com um grau suficiente de fluência e naturalidade de forma que a comunicação ocorra sem
            esforço por parte de nenhum dos interlocutores. Pode produzir textos claros e detalhados sobre temas
            diversos, assim como defender um ponto de vista sobre temas gerais, indicando vantagens e desvantagens das
            várias opções.
    </div>
    </section>
    <div class="col-md-5">
        <center>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/l6.png') }}" alt="Generic placeholder image">
    </center>
    </div>

</div>



<div class="row featurette" id="pp6">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Livros 7, 8 e 9 C1</h2>
        <p class="lead">
            C1

            É capaz de compreender uma ampla variedade de textos extensos e com certo nível de exigência, assim como
            reconhecer nestes, sentidos e idéias implícitas. Sabe expressar-se de forma fluente e espontânea sem
            demonstrar muitos esforços para encontrar uma palavra ou expressão adequada. Pode fazer uso efetivo do
            idioma para fins sociais, acadêmicos e profissionais. pode produzir textos claros, bem estruturados e
            detalhados sobre temas de certa complexidade, mostrando uso correto dos mecanismos de organização,
            articulação e coesão do texto. Capaz de entender por completo um filme sem legendas.

            </p>
    </div>
    <div class="col-md-5 order-md-1">
        <center>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/l7.png') }}" alt="Generic placeholder image">
    </center>
    </div>
</div>




<div class="row featurette" id="pp7">

    <div class="col-md-7">

        <h2 class="featurette-heading">Livros 7, 8 e 9 C2</h2>
        <p class="lead">
            C2

            É capaz de compreender com facilidade praticamente tudo que ouve e lê. Sabe reconstruir a informação e os
            argumentos procedentes de diversas fontes, seja em língua falada ou escrita, e apresentá-los de maneira
            coerente e resumida. Pode expressar-se espontaneamente com grande fluência e com um grau de precisão que
            lhe permita diferenciar pequenos matizes de significado, inclusive em situações de maior complexidade.
    </div>
    </section>
    <div class="col-md-5">
        <center>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/l9.png') }}" alt="Generic placeholder image">
    </center>
    </div>

</div>

{% endblock %}