{% extends 'base.html' %}

{% block content %}
<div id="pp">
    <center>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/g.png') }}" alt="Generic placeholder image">
    </center>
</div>
<div class="row">

        

    <div class="col-lg-2" id="pp15">
        <center>
                <br>
                <br>
                <br>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/star.png') }}"
            alt="Generic placeholder image" width="140" height="140">
            <br>
            <br>
            <br>
        
            <h3>Nossa missão</h3>
        </center>
            <br>

        <p> Entender as instituições de ensino, atendendo e transformando as instituições e as vidas de seus clientes.</p>
    </div>


    <div class="col-lg-2" id="pp2">
        </div>

    <div class="col-lg-4" id="pp10">
        <center>
            <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/ninja.png') }}"
                alt="Generic placeholder image" width="140" height="140">
        
        <h3>Nossos Valores</h3>
    </center>
        <p>
            “Ser Ninja”<br>
            • Um ninja deve habituar-se a mover-se na escuridão total, seja seguro e claro;<br>
            • Para um ninja nenhuma parede deve ser alta demais, seja audacioso e pró-ativo;<br>
            • Um ninja precisa correr depressa, seja competitivo e ético;<br>
            • Um ninja deve ter força para realizar pulos altos, seja persistente e disciplinado;<br>
            • Um ninja de verdade integra-se perfeitamente ao cenário, seja resiliente, busque integrar-se e adaptar-se
            às modificações;<br>
            • Um ninja precisa aprender a minimizar e simplificar a vida, seja comunicativo e busque soluções em grupo.
        </p>

    </div>


    <div class="col-lg-2" id="pp6">
        </div>

    <div class="col-lg-2" id="pp14">
        <center>
                <br>
                <br>
                <br>
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/eye.png') }}" alt="Generic placeholder image"
            width="140" height="140">
       
            
        <h3>Nossa visão</h3>
    </center>
        <br>
        <p>Atender cerca de 100 novos clientes finais em cada mês.</p>
    
    </div>



</div>







<div class="row">



    <div class="col-lg-4" id="pp16">
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/aspas.png') }}"
            alt="Generic placeholder image" width="70" height="70">

        <p>
            <h4>
                <i>Os exercícios realmente me ajudaram a memorizar o vocabulário e rever a minha gramática</i>
                <br>
                <h5>Ana, Spain</h5>
            </h4>
        </p>
    </div>

    <div class="col-lg-4" id="pp18">
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/aspas.png') }}"
            alt="Generic placeholder image" width="70" height="70">

        <p>
            <h4>
                <i>
                    Os exercícios são como simulados dos testes de proficiência - muito uteis.
                </i>
                <br>
                <h5>Fernando, Brazil</h5>
            </h4>
        </p>
    </div>

    <div class="col-lg-4" id="pp17">
        <img class="featurette-image img-fluid mx-auto" data- src="{{ url_for('static', filename='img/aspas.png') }}"
            alt="Generic placeholder image" width="70" height="70">

        <p>
            <h4><i>
                    O Direct Language Hub proporciona aos alunos checarem sotaque diferentes - Realmente incrível!</i>
                <br>
                <h5>Fernanda, Brazil</h5>
            </h4>
        </p>
    </div>

</div>
{% endblock %}