{% extends 'base.html' %}

{% block content %}

<div class="row featurette">


    <div class="col-md-1" id="pp13"> ​

    </div>

    <div class="col-md-6" id="pp8">
        
        <h2 class="featurette-heading">DLHub</h2>
        <p class="lead">
            A plataforma da DLL, o DLHub tem um custo de 18 euros para acesso por 3 meses, mas para alunos que adquirem
            os livros esse acesso é gratuito pelo período de 6 meses.
            Cada livro vem com um cupom de acesso impresso na contra capa, o aluno também fica com o histórico de sua
            evolução podendo ser impresso ou enviado por email.
            Outra importante informação sobre o DLHub é que independente de escolher o tipo de exercício a ser feito
            entre vocabulário ou gramática o aluno também pode optar pelo sotaque que quer estudar, entre americano,
            britânico ou australiano.
            www.dllab.eu
            ​
            MAIS INOVAÇÃO
            ​
            A nova edição de 2018 vêm com QR CODE que através do aplicativo baixado em sue Smartphone direciona o aluno
            para o "lugar certo"
            ​
    </div>
    <div class="col-md-4" id="pp13">
            <br>
            <br><br>
            <br>
        <h2 class="featurette-heading">Aplicativo para Smartphone</h2>
        <p class="lead">
            O aplicativo da DLLab é gratuito e pode ser baixado em Android e IOS. A DLL entende que deve sempre agregar
            valor à seus livros e por isso está constantemente se reinventando entre novos aplicativos e novos idiomas.
            O aplicativo pode ser baixado por qualquer pessoa independente de vínculo com a DLL.
            <br>
            <br><br>
            <br>  ​
    </div>
    <div class="col-md-1" id="pp8"> ​
    </div>

</div>


{% endblock %}