{% extends 'base.html' %}

{% block content %}

<div class="row">


    <div class="col-lg-2" id="pp13">
    </div>

    <div class="col-lg-8" id="pp19">

        <p>
            <center>
                <h1><br>Uma proposta de quem sabe fazer para quem quer crescer</h1>
            </center>
            <h5 id="pp8"> Através do nosso sistema 1+1=n que vem a ser um sistema simples de licenciamento e
                sublicenciamento,
                você pode expandir seu negócio sem a necessidade de abrir novas operações . SIM! Você pode expandir seu
                negócio sem a necessidade de abrir novas escolas, tendo que gerenciar toda uma nova operação, mas
                poderá expandir através de sublicenciadas que você vai buscar no marcado de uma forma simples.

                ​
                <hr>

                O Brasil, sendo um país de território continental, tem particularidades que são verdadeiras
                oportunidades de ouro para negócios, veja bem, entendemos que um diretor de uma escola, que está
                situada em uma localidade como o Pará, é a melhor pessoa para compreender essa área e portanto, através
                de seu networking pessoal e profissional poderá fazer suas conexões para expansão da sua marca.

                ​​
                <hr>

                Através de nosso sistema 1+1=n você poderá "emprestar sua marca", ou seja permitir o uso de sua logo
                marca que seja forte no mercado e reconhecida localmente para promover uma escola em outra cidade,
                reduzindo assim, despesas de propaganda, material gráfico, treinamento, etc... É como ter uma rede de
                franquias, sem ter as dores de cabeça de uma...

                Não necessariamente a escola agregada deverá usar sua marca, mas isso dá força para a "rede" e dilui
                gastos como os citados acima...

                ​
                <hr>

                Aderindo ao programa 1+1=n enquanto PARCEIRO LOCAL DE DISTRIBUIÇÃO, além do fortalecimento da sua marca
                e diluição de gastos, você também receberá um desconto para venda de material de suas escolas agregadas
                e também um percentual na venda de serviços com treinamentos, que poderão ser ministrados pela WAY e
                pela HIGHWAY.

                Você ao "emprestar sua marca" poderá também repassar seu expertise fortalecendo cada vez mais sua
                cadeia de agregados.</h5>
        </p>

    </div>


    <div class="col-lg-2" id="pp13">
    </div>

</div>

<div class="row">

    <div class="col-lg-2" id="pp8">

    </div>


    <div class="col-lg-2" id="pp8">
        <p>sua escola e sua marca
        </p>
    </div>



    <div class="col-lg-2" id="pp8">
        <p>sua marca ou marca do seu sublicenciado</p>
    </div>



    <div class="col-lg-4" id="pp8">
        <p>E aí... Pronto para ter sua própria rede de escolas?</p>
    </div>


    <div class="col-lg-2" id="pp8">

    </div>




</div>
{% endblock %}