{% extends 'base.html' %}

{% block content %}

<div id="ppp">
	<br>
	<br>
	<br>
	<br>

	<!-- 	<div style="width:400px; margin:0 auto;"> -->
	<iframe width="420" height="345" src="https://www.youtube.com/embed/Nl-LVYQdAmU">
	</iframe>

	<iframe width="420" height="345" src="https://www.youtube.com/embed/1i0aAcWr6rI">
	</iframe>

	<iframe width="420" height="345" src="https://www.youtube.com/embed/1Cxqc3tjd7Q">
	</iframe>

	<!--</div>-->
</div>


<div id="ppp1">

		<iframe width="420" height="345" src="https://www.youtube.com/embed/tWI0nQ-9rEw">
		</iframe>

	<iframe width="420" height="345" src="https://www.youtube.com/embed/epMbVOpHBbk">
	</iframe>


	<iframe width="420" height="345" src="https://www.youtube.com/embed/PSMoSwMpxqI">
	</iframe>

</div>

<br>


{% endblock %}